<div class="login" xmlns="http://www.w3.org/1999/html">
  <span
    *ngIf="errors"
    class="form-message position-absolute text-center w-100 error"
    data-aos="zoom-in"
  >
    {{ errors }}
  </span>
  <div class="wrapper">
    <section class="m-0 p-0">
      <form class="loginform" [formGroup]="form" (ngSubmit)="submitForm()">
        <img alt="Logo de Tinydata" src="assets/images/logo.png" class="d-block mx-auto mb-5" />
        <div *ngIf="isSubmitting" id="preloader" class="mini-preloader">
          <div>
            <div class="donut"></div>
            <img alt="Loading dans l'attente des informations" src="assets/images/tc-loader.png" alt="loader" />
          </div>
        </div>
        <input
          *ngIf="!isSubmitting && !success"
          type="password"
          id="password"
          class="form-control mb-4 {{
            form.controls.password.errors?.FormatPassword ? 'alert-input' : ''
          }}"
          formControlName="password"
          placeholder="Nouveau mot de passe"
          [formGroup]="form"
        />

        <input
          *ngIf="!isSubmitting && !success"
          type="password"
          class="form-control mb-4 {{
            form.controls.confirmPassword.errors?.MatchPassword
              ? 'alert-input'
              : ''
          }}"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirmer votre mot de passe"
          [formGroup]="form"
        />

        <button
          *ngIf="!isSubmitting && !success"
          class="btn ripple login-button mx-auto d-block mt-4 w-100"
        >
          Valider
        </button>
        <a
          *ngIf="!isSubmitting && !success"
          routerLink="/home"
          class="text-center d-block mt-3"
          ><span>Retour</span></a
        >
        <div class="forgot-pwd-msg" *ngIf="success">
          <span
            >Votre mot de passe a été bien enregistré, veuillez l'utiliser pour vous
            connecter.</span
          ><br>

          <span>Veuillez retourner sur le canal utilisé pour votre création de compte</span>
<!--          <a-->
<!--            routerLink="/onBoarding"-->
<!--            class="btn ripple login-button mx-auto d-block mt-4 w-100"-->
<!--            >Se connecter</a-->
<!--          >-->
        </div>
        <div
          class="exemples mt-2 fa-3x"
          *ngIf="form.controls.password.errors?.FormatPassword"
        >
          Le mot de passe doit contenir au moins 6 caractères.
        </div>
        <div
          class="exemples mt-2"
          *ngIf="form.controls.confirmPassword.errors?.MatchPassword"
        >
          Le mot de passe ne correspond pas
        </div>
      </form>
    </section>
  </div>
</div>
