<div class="login" xmlns="http://www.w3.org/1999/html">
  <span
    *ngIf="errors"
    class="form-message position-absolute text-center w-100 error"
    data-aos="zoom-in"
  >
    {{ errors }}
  </span>
  <div class="wrapper">
    <section class="m-0 p-0">
      <form class="loginform" [formGroup]="authForm" (ngSubmit)="submitForm()">
        <img alt="Logo de Tinydata" src="assets/images/logo.png" class="d-block mx-auto mb-5" />
        <div *ngIf="isSubmitting" id="preloader" class="mini-preloader">
          <div>
            <div class="donut"></div>
            <img alt="Loading dans l'attente des informations" src="assets/images/tc-loader.png" alt="loader" />
          </div>
        </div>
        <input
          *ngIf="!isSubmitting && !success"
          [(ngModel)]="user.email"
          formControlName="email"
          name="email"
          class="form-control mb-4"
          type="text"
          required
          placeholder="Adresse e-mail"
        />
        <button
          *ngIf="!isSubmitting && !success"
          class="btn ripple login-button mx-auto d-block mt-4 w-100"
        >
          Valider
        </button>
        <a
          *ngIf="!isSubmitting && !success"
          routerLink="/home"
          class="text-center d-block mt-3"
          ><span>Retour</span></a
        >
        <div class="forgot-pwd-msg" *ngIf="success">
          <span
            >Un e-mail contenant un lien de connexion vient d'être envoyé à
            {{ user.email }}, veuillez cliquer dessus afin de réinitialiser
            votre mot de passe.</span
          ><br>
          <span>
            Veuillez retourner sur le canal utilisé pour vous connecter à Tinycoaching avec votre nouveau mot de passe.
          </span>
        </div>
        <div class="exemples mt-4" *ngIf="errors">
          Saisissez une adresse e-mail ou un numéro de téléphone valide
          (exemple@domaine.com / 0626899561)
        </div>
      </form>
    </section>
  </div>
</div>
