<button mat-icon-button (click)="seeMore()">
    <mat-icon>more_vert</mat-icon>
</button>
<!-- <mat-menu #menu="matMenu"  >
    <button mat-menu-item (click)="seeMore()" 
        [ngClass]="{
            'weightText': this.settingsStorageService.weightStorage === 'true',
            'nightField nightTextWhite': this.settingsStorageService.nightStorage === 'true'
        }">
    </button>
    <!--button mat-menu-item (click)="seeInformations()">
        <mat-icon>info</mat-icon>
        <span>Informations</span>
    </button--
</mat-menu> -->