<div [hidden]="canShowGraphicPerformance" class="graphicLoading">
  <mat-spinner></mat-spinner>
</div>
<div [hidden]="!canShowGraphicPerformance || depthIndex === 0" style="text-align: left;margin-left: 30px;">

  <!-- Bouton qui permet de retourner à la granularité précédente -->
  <p class="previousFormationBtn transition" (click)="goBackGranularity()" [ngClass]="{
    'weightText': this.settingsStorageService.weightStorage === 'true',
  'nightShadow': this.settingsStorageService.nightStorage === 'true'}">
    <mat-icon matTooltip="Retour" class="arrowPreviousFormationBtn" [ngClass]="{
        'weightText': this.settingsStorageService.weightStorage === 'true',
      'nightTextWhite': this.settingsStorageService.nightStorage === 'true'}">
      arrow_back</mat-icon>
    <span [ngClass]="{
        'weightText': this.settingsStorageService.weightStorage === 'true',
      'nightTextWhite': this.settingsStorageService.nightStorage === 'true'}">{{this.backMessage}}</span>
  </p>


</div>
<div [hidden]="!canShowGraphicPerformance" class="graphic" id="performanceData" style="height: 350px !important;"></div>

<div class="dataTable" *ngIf="canShowGraphicPerformance">
  <p style="font-weight:bold; width:100%; margin-left:15px;margin-bottom: 0;">
    Pourcentage de contenus validés
  </p>
  <p style="color: var(--purple); font-size:12px; font-style: italic; width:100%; margin-left:15px">
    * Les éléments avec 0% de contenus validés ne sont pas affichés.
  </p>
</div>

<list-formation [nameFormationFilter]='nameFormationFilter' (idFormationFilter)="updateData($event)"></list-formation>

<app-graph-details *ngIf="showDetails" [graphType]="'PERFORMANCE'" [data]="userData"></app-graph-details>

<!-- Design permettant à l'utilisateur de savoir où il se trouve -->
<div class="stepsGranularities" *ngIf="!isUser">

  <div class="formation" *ngIf="depthIndex > 0">
    <div style="display:flex">
      <i class="fas fa-graduation-cap" style="margin:initial; width: 45px; color: var(--grey)"></i>

      <div class="title" style="margin-left: 15px;">
        {{this.listNameGranularity[1]}}
      </div>
    </div>

  </div>

  <div class="domain" *ngIf="depthIndex > 1">
    <div style="display:flex;">
      <div class="bar domainColor transition"></div>
      <div class="bar transition"></div>
      <div class="bar transition"></div>
      <div class="bar transition"></div>
    </div>

    <div class="title" style="margin-left:15px">{{this.listNameGranularity[2]}}</div>
  </div>

  <div class="skill" *ngIf="depthIndex > 2">
    <div style="display:flex;">
      <div class="bar domainColor transition"></div>
      <div class="bar skillColor transition"></div>
      <div class="bar transition"></div>
      <div class="bar transition"></div>
    </div>

    <div class="title">{{this.listNameGranularity[3]}}</div>
  </div>
</div>